node_modules/

#dist/
dist/*.ts
dist/*.mts
dist/*.cjs.js
dist/*.esm.js
build/
#*.js
*.js.map
*.d.ts

# src/**/*.js
# src/**/*.js.map
# src/**/*.d.ts

*.tsbuildinfo
.eslintcache
.jest-cache/
coverage/

logs/
*.log
.env
.env.local

.DS_Store
.vscode/
.idea/