.notify-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    padding-inline: 30px;
    z-index: 900;
    font-size: 10px;
}
.notify-box:empty {
    padding-block: 0;
}

.notify-box.notify-left-box {
    align-items: flex-start;
}
.notify-box.notify-right-box {
    align-items: flex-end;
}

.notify {
    --notify-color: #6cd3ff;
    --notify-color-light: hsl(from var(--notify-color) h s calc(l + 7));
    --notify-color-dark: hsl(from var(--notify-color) h s calc(l - 45));
    --notify-color-middle: hsl(from var(--notify-color) h s calc(l - 5));
    --notify-close-time: var(--close-time, .5s);
    position: relative;
    margin-bottom: 2em;
    width: clamp(30em, 30vw, 80em);
    background-color: var(--notify-color);
    color: var(--notify-color-dark);
    border-radius: .4em;
    box-shadow: -0.1em -0.1em 0 0 var(--notify-color-light), 0.1em 0.1em 0 0 var(--notify-color-middle), 0 0 3em rgb(0 0 0 / 30%);
    overflow: hidden;
    max-height: 100em;
    opacity: 1;
    transition: max-height calc(var(--notify-close-time) * .6) linear calc(var(--notify-close-time) * .4), opacity var(--notify-close-time) linear 0s, margin-bottom var(--notify-close-time) linear 0s;
}

.notify.closed {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
}

.notify-data {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
}

.notify-content {
    flex: 1 0 auto;
}

.notify-title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}
.notify-title:empty {
    margin-bottom: 0;
}

.notify-icon {
    flex: 0 0 4em;
    width: 4em;
    height: 4em;
    background-color: var(--notify-color-dark);
    -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNNDgwLTI4MHExNyAwIDI4LjUtMTEuNVQ1MjAtMzIwdi0xNjBxMC0xNy0xMS41LTI4LjVUNDgwLTUyMHEtMTcgMC0yOC41IDExLjVUNDQwLTQ4MHYxNjBxMCAxNyAxMS41IDI4LjVUNDgwLTI4MFptMC0zMjBxMTcgMCAyOC41LTExLjVUNTIwLTY0MHEwLTE3LTExLjUtMjguNVQ0ODAtNjgwcS0xNyAwLTI4LjUgMTEuNVQ0NDAtNjQwcTAgMTcgMTEuNSAyOC41VDQ4MC02MDBabTAgNTIwcS04MyAwLTE1Ni0zMS41VDE5Ny0xOTdxLTU0LTU0LTg1LjUtMTI3VDgwLTQ4MHEwLTgzIDMxLjUtMTU2VDE5Ny03NjNxNTQtNTQgMTI3LTg1LjVUNDgwLTg4MHE4MyAwIDE1NiAzMS41VDc2My03NjNxNTQgNTQgODUuNSAxMjdUODgwLTQ4MHEwIDgzLTMxLjUgMTU2VDc2My0xOTdxLTU0IDU0LTEyNyA4NS41VDQ4MC04MFoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
    mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNNDgwLTI4MHExNyAwIDI4LjUtMTEuNVQ1MjAtMzIwdi0xNjBxMC0xNy0xMS41LTI4LjVUNDgwLTUyMHEtMTcgMC0yOC41IDExLjVUNDQwLTQ4MHYxNjBxMCAxNyAxMS41IDI4LjVUNDgwLTI4MFptMC0zMjBxMTcgMCAyOC41LTExLjVUNTIwLTY0MHEwLTE3LTExLjUtMjguNVQ0ODAtNjgwcS0xNyAwLTI4LjUgMTEuNVQ0NDAtNjQwcTAgMTcgMTEuNSAyOC41VDQ4MC02MDBabTAgNTIwcS04MyAwLTE1Ni0zMS41VDE5Ny0xOTdxLTU0LTU0LTg1LjUtMTI3VDgwLTQ4MHEwLTgzIDMxLjUtMTU2VDE5Ny03NjNxNTQtNTQgMTI3LTg1LjVUNDgwLTg4MHE4MyAwIDE1NiAzMS41VDc2My03NjNxNTQgNTQgODUuNSAxMjdUODgwLTQ4MHEwIDgzLTMxLjUgMTU2VDc2My0xOTdxLTU0IDU0LTEyNyA4NS41VDQ4MC04MFoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
}

.notify-text {
    font-size: 1.3em;
    line-height: 1.5em;
}

.notify-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}
.notify-buttons:empty {
    margin-top: 0;
}

.notify-buttons button {
    border: 1px solid var(--notify-color-middle);
    background-color: var(--notify-color-light);
    color: var(--notify-color-dark);
    padding: 0.5em 1em;
    border-radius: .4em;
    cursor: pointer;
}

.notify-buttons button:hover {
    box-shadow: .1em .1em .4em 0 #00000020;
}

.notify-close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    cursor: pointer;
}
.notify-close:hover {
    text-shadow: .1em .1em .2em #00000020;
}

.notify.notify-error {
    --notify-color: #ffa3a3;

    .notify-icon {
        -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNMzYzLTEyMHEtMTYgMC0zMC41LTZUMzA3LTE0M0wxNDMtMzA3cS0xMS0xMS0xNy0yNS41dC02LTMwLjV2LTIzNHEwLTE2IDYtMzAuNXQxNy0yNS41bDE2NC0xNjRxMTEtMTEgMjUuNS0xN3QzMC41LTZoMjM0cTE2IDAgMzAuNSA2dDI1LjUgMTdsMTY0IDE2NHExMSAxMSAxNyAyNS41dDYgMzAuNXYyMzRxMCAxNi02IDMwLjVUODE3LTMwN0w2NTMtMTQzcS0xMSAxMS0yNS41IDE3dC0zMC41IDZIMzYzWm0xMTctMzA0IDg2IDg2cTExIDExIDI4IDExdDI4LTExcTExLTExIDExLTI4dC0xMS0yOGwtODYtODYgODYtODZxMTEtMTEgMTEtMjh0LTExLTI4cS0xMS0xMS0yOC0xMXQtMjggMTFsLTg2IDg2LTg2LTg2cS0xMS0xMS0yOC0xMXQtMjggMTFxLTExIDExLTExIDI4dDExIDI4bDg2IDg2LTg2IDg2cS0xMSAxMS0xMSAyOHQxMSAyOHExMSAxMSAyOCAxMXQyOC0xMWw4Ni04NloiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
        mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNMzYzLTEyMHEtMTYgMC0zMC41LTZUMzA3LTE0M0wxNDMtMzA3cS0xMS0xMS0xNy0yNS41dC02LTMwLjV2LTIzNHEwLTE2IDYtMzAuNXQxNy0yNS41bDE2NC0xNjRxMTEtMTEgMjUuNS0xN3QzMC41LTZoMjM0cTE2IDAgMzAuNSA2dDI1LjUgMTdsMTY0IDE2NHExMSAxMSAxNyAyNS41dDYgMzAuNXYyMzRxMCAxNi02IDMwLjVUODE3LTMwN0w2NTMtMTQzcS0xMSAxMS0yNS41IDE3dC0zMC41IDZIMzYzWm0xMTctMzA0IDg2IDg2cTExIDExIDI4IDExdDI4LTExcTExLTExIDExLTI4dC0xMS0yOGwtODYtODYgODYtODZxMTEtMTEgMTEtMjh0LTExLTI4cS0xMS0xMS0yOC0xMXQtMjggMTFsLTg2IDg2LTg2LTg2cS0xMS0xMS0yOC0xMXQtMjggMTFxLTExIDExLTExIDI4dDExIDI4bDg2IDg2LTg2IDg2cS0xMSAxMS0xMSAyOHQxMSAyOHExMSAxMSAyOCAxMXQyOC0xMWw4Ni04NloiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
    }
}
.notify.notify-warning {
    --notify-color: #ffde72;

    .notify-icon {
        -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNMTA5LTEyMHEtMTEgMC0yMC01LjVUNzUtMTQwcS01LTktNS41LTE5LjVUNzUtMTgwbDM3MC02NDBxNi0xMCAxNS41LTE1dDE5LjUtNXExMCAwIDE5LjUgNXQxNS41IDE1bDM3MCA2NDBxNiAxMCA1LjUgMjAuNVQ4ODUtMTQwcS01IDktMTQgMTQuNXQtMjAgNS41SDEwOVptMzcxLTEyMHExNyAwIDI4LjUtMTEuNVQ1MjAtMjgwcTAtMTctMTEuNS0yOC41VDQ4MC0zMjBxLTE3IDAtMjguNSAxMS41VDQ0MC0yODBxMCAxNyAxMS41IDI4LjVUNDgwLTI0MFptMC0xMjBxMTcgMCAyOC41LTExLjVUNTIwLTQwMHYtMTIwcTAtMTctMTEuNS0yOC41VDQ4MC01NjBxLTE3IDAtMjguNSAxMS41VDQ0MC01MjB2MTIwcTAgMTcgMTEuNSAyOC41VDQ4MC0zNjBaIj48L3BhdGg+Cjwvc3ZnPgo=") no-repeat center / contain;
        mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNMTA5LTEyMHEtMTEgMC0yMC01LjVUNzUtMTQwcS01LTktNS41LTE5LjVUNzUtMTgwbDM3MC02NDBxNi0xMCAxNS41LTE1dDE5LjUtNXExMCAwIDE5LjUgNXQxNS41IDE1bDM3MCA2NDBxNiAxMCA1LjUgMjAuNVQ4ODUtMTQwcS01IDktMTQgMTQuNXQtMjAgNS41SDEwOVptMzcxLTEyMHExNyAwIDI4LjUtMTEuNVQ1MjAtMjgwcTAtMTctMTEuNS0yOC41VDQ4MC0zMjBxLTE3IDAtMjguNSAxMS41VDQ0MC0yODBxMCAxNyAxMS41IDI4LjVUNDgwLTI0MFptMC0xMjBxMTcgMCAyOC41LTExLjVUNTIwLTQwMHYtMTIwcTAtMTctMTEuNS0yOC41VDQ4MC01NjBxLTE3IDAtMjguNSAxMS41VDQ0MC01MjB2MTIwcTAgMTcgMTEuNSAyOC41VDQ4MC0zNjBaIj48L3BhdGg+Cjwvc3ZnPgo=") no-repeat center / contain;
    }
}
.notify.notify-success {
    --notify-color: #56ffae;

    .notify-icon {
        -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJtNDI0LTQwOC04Ni04NnEtMTEtMTEtMjgtMTF0LTI4IDExcS0xMSAxMS0xMSAyOHQxMSAyOGwxMTQgMTE0cTEyIDEyIDI4IDEydDI4LTEybDIyNi0yMjZxMTEtMTEgMTEtMjh0LTExLTI4cS0xMS0xMS0yOC0xMXQtMjggMTFMNDI0LTQwOFptNTYgMzI4cS04MyAwLTE1Ni0zMS41VDE5Ny0xOTdxLTU0LTU0LTg1LjUtMTI3VDgwLTQ4MHEwLTgzIDMxLjUtMTU2VDE5Ny03NjNxNTQtNTQgMTI3LTg1LjVUNDgwLTg4MHE4MyAwIDE1NiAzMS41VDc2My03NjNxNTQgNTQgODUuNSAxMjdUODgwLTQ4MHEwIDgzLTMxLjUgMTU2VDc2My0xOTdxLTU0IDU0LTEyNyA4NS41VDQ4MC04MFoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
        mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJtNDI0LTQwOC04Ni04NnEtMTEtMTEtMjgtMTF0LTI4IDExcS0xMSAxMS0xMSAyOHQxMSAyOGwxMTQgMTE0cTEyIDEyIDI4IDEydDI4LTEybDIyNi0yMjZxMTEtMTEgMTEtMjh0LTExLTI4cS0xMS0xMS0yOC0xMXQtMjggMTFMNDI0LTQwOFptNTYgMzI4cS04MyAwLTE1Ni0zMS41VDE5Ny0xOTdxLTU0LTU0LTg1LjUtMTI3VDgwLTQ4MHEwLTgzIDMxLjUtMTU2VDE5Ny03NjNxNTQtNTQgMTI3LTg1LjVUNDgwLTg4MHE4MyAwIDE1NiAzMS41VDc2My03NjNxNTQgNTQgODUuNSAxMjdUODgwLTQ4MHEwIDgzLTMxLjUgMTU2VDc2My0xOTdxLTU0IDU0LTEyNyA4NS41VDQ4MC04MFoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
    }
}
.notify.notify-info {
    --notify-color: #6cd3ff;

    .notify-icon {
        -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNNDgwLTI4MHExNyAwIDI4LjUtMTEuNVQ1MjAtMzIwdi0xNjBxMC0xNy0xMS41LTI4LjVUNDgwLTUyMHEtMTcgMC0yOC41IDExLjVUNDQwLTQ4MHYxNjBxMCAxNyAxMS41IDI4LjVUNDgwLTI4MFptMC0zMjBxMTcgMCAyOC41LTExLjVUNTIwLTY0MHEwLTE3LTExLjUtMjguNVQ0ODAtNjgwcS0xNyAwLTI4LjUgMTEuNVQ0NDAtNjQwcTAgMTcgMTEuNSAyOC41VDQ4MC02MDBabTAgNTIwcS04MyAwLTE1Ni0zMS41VDE5Ny0xOTdxLTU0LTU0LTg1LjUtMTI3VDgwLTQ4MHEwLTgzIDMxLjUtMTU2VDE5Ny03NjNxNTQtNTQgMTI3LTg1LjVUNDgwLTg4MHE4MyAwIDE1NiAzMS41VDc2My03NjNxNTQgNTQgODUuNSAxMjdUODgwLTQ4MHEwIDgzLTMxLjUgMTU2VDc2My0xOTdxLTU0IDU0LTEyNyA4NS41VDQ4MC04MFoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
        mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4Ij4KICA8cGF0aCBkPSJNNDgwLTI4MHExNyAwIDI4LjUtMTEuNVQ1MjAtMzIwdi0xNjBxMC0xNy0xMS41LTI4LjVUNDgwLTUyMHEtMTcgMC0yOC41IDExLjVUNDQwLTQ4MHYxNjBxMCAxNyAxMS41IDI4LjVUNDgwLTI4MFptMC0zMjBxMTcgMCAyOC41LTExLjVUNTIwLTY0MHEwLTE3LTExLjUtMjguNVQ0ODAtNjgwcS0xNyAwLTI4LjUgMTEuNVQ0NDAtNjQwcTAgMTcgMTEuNSAyOC41VDQ4MC02MDBabTAgNTIwcS04MyAwLTE1Ni0zMS41VDE5Ny0xOTdxLTU0LTU0LTg1LjUtMTI3VDgwLTQ4MHEwLTgzIDMxLjUtMTU2VDE5Ny03NjNxNTQtNTQgMTI3LTg1LjVUNDgwLTg4MHE4MyAwIDE1NiAzMS41VDc2My03NjNxNTQgNTQgODUuNSAxMjdUODgwLTQ4MHEwIDgzLTMxLjUgMTU2VDc2My0xOTdxLTU0IDU0LTEyNyA4NS41VDQ4MC04MFoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat center / contain;
    }
}
